{% extends 'base.html' %}
{% load static %}
{% block styles %}{% endblock %}

{% block page_title %}Task List{% endblock %}
{% block scripts %}{% endblock %}

{% block main %}
    {% if object.task_image %}
        <img src="{{ object.task_image.url }}" alt="">
    {% endif %}
    <p>{{ object }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">
            Submit
        </button>
        <!-- {% include 'task_create.html' %} -->
    </form>
{% endblock %}